.event-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 10px;
    padding: 10px;
    color: #fff;
    text-align: center;
}
.event{
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
}
.event:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }