<div class="event-grid">
    <div class="event">
        <h2>Bhajan Sandhiya</h2>
        <div style="width: 100%"><iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=100%&amp;hl=en&amp;q=28.5441986,77.2281736+(Bhagaan%20Sandhya%20)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/population/">Bhagaan Sandhya</a></iframe></div>
        <p>Holiday Club, Ground and First Floor,
            D Block, Josip Broz Tito Marg,
            Panchsheel Enclave, Delhi 110017
           </p>
    </div>
    <div class="event">
        <h2>Mata Ki Chawki</h2>
        <div style="width: 100%"><iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=100%&amp;hl=en&amp;q=28.5441986,77.2281736+(Bhagaan%20Sandhya%20)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/population/">Bhagaan Sandhya</a></iframe></div>
        <p>Holiday Club, Ground and First Floor,
            D Block, Josip Broz Tito Marg,
            Panchsheel Enclave, Delhi 110017
           </p>
    </div>
    <div class="event">
        <h2>Mehendi</h2>
        <div style="width: 100%"><iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=100%&amp;hl=en&amp;q=Hyatt%20Centric%20Janakpuri%20New%20Delhi+(Hyatt%20Centric%20Janakpuri%20New%20Delhi)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/population/">Find Population on Map</a></iframe></div>
        <p>The Living Room, 1st Floor
            Hyatt Centric
            Janakpuri District Centre Complex
            Delhi 110058            
           </p>
    </div>
    <div class="event">
        <h2>Sagan Ceremony</h2>
        <div style="width: 100%"><iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=100%&amp;hl=en&amp;q=Hyatt%20Centric%20Janakpuri%20New%20Delhi+(Hyatt%20Centric%20Janakpuri%20New%20Delhi)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/population/">Find Population on Map</a></iframe></div>
        <p>The Grand Ball Room 2&3,Ground Floor
            Hyatt Centric
            Janakpuri District Centre Complex
            Delhi 110058            
           </p>
    </div>
    <div class="event">
        <h2>Haldi</h2>
        <div style="width: 100%"><iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=100%&amp;hl=en&amp;q=Hyatt%20Centric%20Janakpuri%20New%20Delhi+(Hyatt%20Centric%20Janakpuri%20New%20Delhi)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/population/">Find Population on Map</a></iframe></div>
        <p>The Living Room 1st Floor, Hyatt Centric
            Janakpuri District Centre Complex
            Delhi 110058            
           </p>
    </div>
    <div class="event">
        <h2>Shaadi</h2>
        <div style="width: 100%"><iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=100%&amp;hl=en&amp;q=Hyatt%20Centric%20Janakpuri%20New%20Delhi+(Hyatt%20Centric%20Janakpuri%20New%20Delhi)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/population/">Find Population on Map</a></iframe></div>
        <p>The Grand Ball Room 4 and Lawn, Ground Floor
            Hyatt Centric
            Janakpuri District Centre Complex
            Delhi 110058
            
           </p>
    </div>
</div>
