<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleMenu()" class="menu-button" *ngIf="isScreenSmall">
    <mat-icon>menu</mat-icon>
  </button>
  <nav class="menu-grp" [class.hide]="isScreenSmall && !menuOpen">
    <span class="menu-item" mat-raised-button color="primary" (click)="redirectToGoogleForm()">
     <mat-icon class="menu-icon">note_add</mat-icon> Hotel Check-in
    </span>
    <span class="menu-item" mat-raised-button color="primary" [routerLink]="['/add-event-details']">
      <mat-icon class="menu-icon">event</mat-icon> Event Details
    </span>
    <span class="menu-item" mat-raised-button color="primary" [routerLink]="['/upload-images']">
      <mat-icon class="menu-icon">cloud_upload</mat-icon> Marriage Images
    </span>
  </nav>
</mat-toolbar>
<router-outlet></router-outlet>
